@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #00c6ad;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body * {
  font-family: Roboto;
}

body > div:first-child {
  background-color: white;
  width: 98%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* region category */
.category {
  width: 90%;
  height: 10%;
  background-color: red;
  display: flex;
  align-items: center;
}

.category * {
  width: 33%;
}

.category button {
  background: none;
  cursor: pointer;
}

.material-symbols-outlined {
  width: 100%;
  font-size: 250%;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  display: flex;
  justify-content: flex-start;
}

.category label {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}
/* endregion category */

/* region music_info */
.music_info {
  width: 90%;
  height: 20%;
  background-color: orange;
}
/* endregion music_info */

/* region buttons */
.buttons {
  width: 90%;
  height: 15%;
  background-color: yellow;
}
/* endregion buttons */

/* region music_list */
.music_list {
  width: 90%;
  height: 50%;
  background-color: green;
}
/* endregion music_list */
