.find-icons {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon span:nth-child(1) {
  font-size: 60px;
}

.find-icons__icon span:nth-child(2) {
  margin-top: 15px;
}
