.nav {
  background-color: #f9f9fa;
  border: 1px solid #d9d9d9;
  padding: 15px 55px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

.nav-bar__material-symbols-outlined {
  font-size: 35px;
  color: #2e363e;
}

.nav-bar__material-symbols-outlined.activate {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.nav__chat__notification {
  position: absolute;
  left: 15px;
  bottom: 17px;
}

.nav__more_horiz__notification {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
